#signContent {
    text-align: center;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: rgb(43, 43, 43);
    text-transform: uppercase;
}

#beerContent {
    text-align: center;
    font-size: 40px;
    font-family: "Changa One", sans-serif;
    color: rgb(43, 43, 43);
}

#randomBeerType {
    text-align: center;
    font-size: 30px;
    font-family: "PT Sans", sans-serif;
    color: rgb(43, 43, 43);
}

.thumbnail {
    margin-bottom: 7px;
}

body {
    background: #ffffff url("http://subtlepatterns.com/patterns/groovepaper.png") repeat;
    color: #000000;
}

.container {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    position: relative;
    margin: 80px auto;
    width: 600px;
    font-size: 30px;
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

span {
    display: block;
}

.line-1 {
    position: relative;
}

.line-1:before, .line-1:after {
    content: "";
    font-family: FontAwesome;
    position: relative;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 16px;
    margin: 0 30px;
    top: -5px;
}

.line-2 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 90px;
    letter-spacing: 15px;
    margin: 0 0;
}

.line-3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0 0;
    position: relative;
    letter-spacing: 6px;
}

.line-3:before, .line-3:after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 5px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}

.line-3:before {
    margin: 7px 0 0 -60px;
}

.line-3:after {
    margin: 7px 0 0 10px;
}

.line-4 {
    width: 100%;
    position: relative;
    font-size: 18px;
    margin: 50px 0 0;
}

.line-5 {
    margin: 20px 0 50px;
    position: relative;
    text-align: center;
    margin: 50px auto;
    display: block;
    font-size: 20px;
}

.line-5 a {
    text-decoration: none;
    display: inline-block;
    text-align: left;
    color: #222;
}

.line-5 a:nth-child(1) {
    text-align: right;
}

.line-5 a:nth-child(1):after {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 30px;
    text-align: center;
    width: 90%;
    top: 4px;
    margin: 0;
    padding: 0 20px;
}

.line-6 {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
}

.line-6:before, .line-6:after {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 16px;
    margin: 0 10px;
    top: 2px;
}

#aries {
    height: 325px;
    width: 600px;
}

#aries:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#leo {
    height: 325px;
    width: 600px;
}

#leo:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#virgo {
    height: 325px;
    width: 600px;
}

#virgo:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#taurus {
    height: 325px;
    width: 600px;
}

#taurus:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#cancer {
    height: 325px;
    width: 600px;
}

#cancer:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#gemini {
    height: 325px;
    width: 600px;
}

#gemini:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#scorpio {
    height: 325px;
    width: 600px;
}

#scorpio:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#sagittarius {
    height: 325px;
    width: 600px;
}

#sagittarius:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#libra {
    height: 325px;
    width: 600px;
}

#libra:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#capricorn {
    height: 325px;
    width: 600px;
}

#capricorn:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#pisces {
    height: 325px;
    width: 600px;
}

#pisces:hover {
    background-color: rgba(37, 209, 255, 0.54);
}

#aquarius {
    height: 325px;
    width: 600px;
}

#aquarius:hover {
    background-color: rgba(37, 209, 255, 0.54);
}
